{% extends "hrms/base.html" %}

{% block title %}Monthly Summary{% endblock %}
{% block page_title %}Employee Monthly Summary{% endblock %}

{% block content %}

<div class="bg-white rounded-xl shadow p-6">

<h2 class="text-2xl font-bold mb-6">

{{ employee.name }}

</h2>

<div class="grid md:grid-cols-3 gap-5">

<div class="bg-blue-100 rounded p-5">

<h4>Present</h4>

<h2 class="text-4xl font-bold">

{{ present_days }}

</h2>

</div>

<div class="bg-red-100 rounded p-5">

<h4>Absent</h4>

<h2 class="text-4xl font-bold">

{{ absent_days }}

</h2>

</div>

<div class="bg-green-100 rounded p-5">

<h4>Total OT</h4>

<h2 class="text-4xl font-bold">

{{ total_ot }}

</h2>

</div>

<div class="bg-yellow-100 rounded p-5">

<h4>Production Qty</h4>

<h2 class="text-4xl font-bold">

{{ total_qty }}

</h2>

</div>

<div class="bg-purple-100 rounded p-5">

<h4>Production Amount</h4>

<h2 class="text-3xl font-bold">

₹ {{ total_amount }}

</h2>

</div>

<div class="bg-gray-100 rounded p-5">

<h4>Net Salary</h4>

<h2 class="text-3xl font-bold">

₹ {{ salary.net_salary }}

</h2>

</div>

</div>

</div>

{% endblock %}